*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:beige;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
   
    background-color: black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 10px;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 2rem;
    gap: 5rem;
}

#user-score , #comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
    justify-content: center;
    align-items: center;

}

#msg{
    background-color: black;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}